<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" type="text/css" href="css/mystyle.css">
   <link rel="stylesheet" href="css/bootstrap.min.css">
   <script src="js/angular.min.js"></script>
   <script src="js/angular-route.min.js"></script>  
   <script src="js/script.js"></script>
   <script src="js/jquery.min.js"></script>
   <script src="js/bootstrap.min.js"></script>
   
</head>
<body  data-ng-app="demoApp" data-ng-controller="myCtrl">
<div class="container" id="loginPage">
      <img src="tudip.png" alt="Tudip's Logo">
      <form role="form" ng-submit="login()" id="loginform">
         <h3 id="formHeader"><b>Login to TUDIP's Guestbook..<b></h3>
         <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" placeholder="Enter username" ng-model="email" required>
         </div>
         <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" ng-model="password" required>
         </div>
         <div class="checkbox">
            <label><input type="checkbox"> Remember me</label>
         </div>
         <input type="submit" class="btn btn-default"/> 
      </form>
   </div>
</body>
</html>