<div id="homeContent">     
   <form role="form" id="regform" ng-submit="visitorFunc()">         
      <div class="form-group">
         <label for="visitorName">Visitor's Name:</label>
         <input type="text" class="form-control" id="visitorName" placeholder="Enter Visitor's Name" ng-model="visitorName" onkeypress="javascript:return isAlphabet(event)" required>
      </div>
      <div class="form-group">
         <label for="visitorEmail">Email:</label>
         <input type="email" class="form-control" id="visitorEmail" placeholder="Enter Visitor's Email" ng-model="visitorEmail" required>
      </div>
      <div class="form-group">
         <label for="phoneNo">Phone Number:</label>
         <input type="text" maxlength="10" class="form-control" id="phoneNo" placeholder="Enter Visitor's Phone Number" ng-model="phoneNo" onkeypress="javascript:return isNumber(event)" required>
      </div>
	  <div class="form-group">
         <label for="inTime">In-time:</label>
         <input type="time" class="form-control" id="inTime" value="22:15:00" placeholder="Enter Visitor's In-time" ng-model="inTime" required>
      </div>
	  <div class="form-group">
         <label for="outTime">Out-time:</label>
         <input type="time" class="form-control" id="outTime" value="22:15:00" placeholder="Enter Visitor's Out-time" ng-model="outTime">
      </div>
      <input type="submit" class="btn btn-default"/> 
   </form>
</div>
    
	  